<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>食品生鲜</key>
	<array>
		<dict>
			<key>美味零食</key>
			<array>
				<string>饼干/糕点/膨化食品</string>
				<string>坚果</string>
				<string>炒货</string>
				<string>肉干/肉脯</string>
				<string>蜜饯/果脯</string>
				<string>糖果/巧克力</string>
				<string>果冻/布丁</string>
				<string>奶酪/乳品</string>
				<string>冲调饮品</string>
			</array>
			<key>保健食品</key>
			<array>
				<string>营养健康</string>
				<string>营养成分</string>
				<string>医药</string>
			</array>
			<key>速冻食品</key>
			<array>
				<string>水饺</string>
				<string>汤圆</string>
				<string>面点</string>
				<string>挂面</string>
				<string>火锅丸串</string>
				<string>方便菜</string>
			</array>
		</dict>
	</array>
	<key>钟表珠宝</key>
	<array>
		<dict>
			<key>时尚饰品</key>
			<array>
				<string>吊坠</string>
				<string>项链</string>
				<string>手链、脚链</string>
				<string>戒指</string>
				<string>耳饰</string>
				<string>古交</string>
			</array>
			<key>K金饰品</key>
			<array>
				<string>吊坠</string>
				<string>项链</string>
				<string>手链、脚链</string>
				<string>戒指</string>
				<string>耳饰</string>
			</array>
			<key>彩宝</key>
			<array>
				<string>胸链、吊坠</string>
				<string>耳饰</string>
				<string>手镯、手链</string>
				<string>彩宝戒指</string>
			</array>
			<key>珍珠</key>
			<array>
				<string>珍珠项链</string>
				<string>珍珠吊坠</string>
				<string>珍珠耳饰</string>
				<string>珍珠手链</string>
				<string>珍珠戒指</string>
				<string>珍珠胸针</string>
				<string>潞城</string>
			</array>
			<key>钻石</key>
			<array>
				<string>裸钻</string>
				<string>钻石戒指</string>
				<string>项链、吊坠耳饰</string>
			</array>
			<key>水晶玛瑙</key>
			<array>
				<string>项链、吊坠</string>
				<string>耳饰</string>
				<string>水晶玛瑙戒指</string>
				<string>头饰、胸针</string>
				<string>摆件、挂件</string>
			</array>
			<key>翡翠玉石</key>
			<array>
				<string>项链、吊坠</string>
				<string>手镯、手串</string>
				<string>翡翠玉石戒指</string>
				<string>耳饰</string>
				<string>挂件、摆件、把件</string>
				<string>玉石孤品</string>
			</array>
		</dict>
	</array>
	<key>护肤彩妆</key>
	<array>
		<dict>
			<key>面部清洁</key>
			<array>
				<string>洗面奶</string>
				<string>洗面皂</string>
				<string>清洁面膜</string>
				<string>去黑头</string>
			</array>
			<key>面部护理</key>
			<array>
				<string>面膜</string>
				<string>精华液</string>
				<string>收缩毛乳</string>
				<string>眼霜</string>
				<string>防晒</string>
				<string>剃须</string>
			</array>
			<key>身体护理</key>
			<array>
				<string>精油</string>
				<string>沐浴露</string>
				<string>润肤</string>
			</array>
			<key>香水彩妆</key>
			<array>
				<string>眼线</string>
				<string>套装</string>
				<string>美甲</string>
				<string>睫毛膏</string>
				<string>眉笔</string>
				<string>男士香水</string>
				<string>女士香水</string>
				<string>卸妆</string>
			</array>
		</dict>
	</array>
	<key>鞋靴箱包</key>
	<array>
		<dict>
			<key>流行男鞋</key>
			<array>
				<string>休闲鞋</string>
				<string>帆布鞋</string>
				<string>运动户外</string>
				<string>拖鞋</string>
				<string>工装鞋</string>
			</array>
			<key>功能箱包</key>
			<array>
				<string>登机箱</string>
				<string>拉杆箱</string>
				<string>拉杆包</string>
				<string>电脑包</string>
				<string>学生书包</string>
				<string>双肩包</string>
			</array>
			<key>时尚女鞋</key>
			<array>
				<string>单鞋皮鞋</string>
				<string>靴</string>
				<string>帆布鞋</string>
				<string>拖鞋</string>
				<string>舞蹈鞋</string>
			</array>
			<key>潮流女包</key>
			<array>
				<string>单肩包</string>
				<string>手提包</string>
				<string>斜挎包</string>
				<string>钱包</string>
				<string>趣味包</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
